.Skin-Search{
    padding:0 20px;
    .serach-img{
        position: relative;
        img{
            width:100%;
            height:150px;
        }
        .seach-result{
            position: absolute;
            left:8%;
            top:45%;
            font-size: 36px;
        }
     }
    .result-none{
        color: #999;
        font-size: 12px;
        margin:20px 10px;
    }
    .mabey{
        text-align: center;
        border-top:1px solid #000;
        position: relative;
        
        span{
            position: absolute;
            top:-20px;
            left:45%;
            background: #fff;
            padding:0 22px;
            font-size: 24px;
        }
    }
   .search-result-con{
       .search-list{
           float:left;
           width:25%;
           position: relative;
           &:hover{
                .skin-liji{
                    display: block;
                }
                .skin-goumai{
                    display: block;
                }
                .search-cover{
                    display: block;
                }
              }
              .skin-liji{
                display: none;
                position:absolute;
                top:30%;
                left:50%;
                margin-left:-50px;
                z-index: 2;
               
            }
            .skin-goumai{
                display: none;
                position:absolute ;
                top:50%;
                left:50%;
                margin-left:-50px;
                z-index: 2;
                background: #fff;
                color:#000;
            }
           .search-cover{
                width:100%;
                height:290px;
                position: absolute;
                background: #fff;
                opacity: 0.5;
                z-index: 1;
                display: none;
            }
           img{
               height:290px;
               width:100%;
           }
           .bottom{
               color:#999;
           }
       }
   }
}